/* Webfont: ANBG mapping font */
@font-face {
    font-family: 'ANBGmappingfont';
    src: url('assets/ANBGmappingfont/Web-TT/ANBG-font-COLR.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
